# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build
*.egg-info/
dist/
build/

# Database
*.db

# IDE
.vscode/
.idea/

# Extra
others/
*.ruff_cache
